spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create #update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
#  sql:
#    init:
#      mode: always
#      schema-locations: classpath:/init/create_database.sql
  redis:
    host: localhost
    port: 6379
  cache:
    type: redis

  mail:
    host: smtp.gmail.com
    port: 587
    username: balakrishnam@bidgely.com        # <-- replace with your Gmail
    password: kgqz isvz ffnd nnfr     # <-- use app password (not normal)
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

app:
  scheduler:
    poll-interval-seconds: 60
  threadpool:
    core: 10
    max: 30
    queue-capacity: 100

